./de_Bekker_2015/ant_alignment/cufflinks/SRR1986843_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986843_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986844_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986844_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986845_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986845_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986846_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986846_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986847_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986847_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986848_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986848_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986849_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986849_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986850_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986850_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986851_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986851_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986852_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986852_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986853_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986853_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986854_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986854_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986855_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986856_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/cufflinks/SRR1986857_1.fastq_top/unmapped.bam
./de_Bekker_2015/ant_alignment/merged_asm/merged_ant.fa
./de_Bekker_2015/ant_alignment/merged_asm/merged.gtf
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986843_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986843_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986844_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986844_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986845_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986845_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986846_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986846_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986847_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986847_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986848_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986848_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986849_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986850_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986851_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986852_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986853_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986854_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986855_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986855_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986856_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986856_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986857_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/old/SRR1986857_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986843_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986843_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986844_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986844_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986845_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986845_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986846_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986846_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986847_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986847_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986848_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986848_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986849_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986850_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986851_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986852_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986853_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986854_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986855_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986855_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986856_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986856_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986857_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/cufflinks/SRR1986857_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986843_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986843_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986844_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986844_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986845_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986845_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986846_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986846_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986847_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986847_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986848_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986848_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986849_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986850_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986851_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986852_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986853_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986854_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986855_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986855_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986856_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986856_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986857_1.fastq_top/accepted_hits.bam
./de_Bekker_2015/fungi_alignment/old/tophat_out/SRR1986857_1.fastq_top/unmapped.bam
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986843_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986843_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986844_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986844_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986845_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986845_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986846_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986846_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986847_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986847_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986848_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986848_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986849_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986849_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986850_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986850_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986851_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986851_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986852_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986852_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986853_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986853_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986854_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986854_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986855_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986855_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986856_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986856_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986857_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_paired_SRR1986857_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986843_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986844_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986845_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986846_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986846_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986847_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986848_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986849_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986850_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986851_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986852_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986853_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986854_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986855_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986856_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986856_2.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986857_1.fastq
./de_Bekker_2015/fungi_alignment/trimmomatic/clean_unpaired_SRR1986857_2.fastq
./de_Bekker_2015/genome/NW_011876401.1.1.bt2
./de_Bekker_2015/genome/NW_011876401.1.2.bt2
./de_Bekker_2015/genome/NW_011876401.1.4.bt2
./de_Bekker_2015/genome/NW_011876401.1.fa
./de_Bekker_2015/genome/NW_011876401.1.gff
./de_Bekker_2015/genome/NW_011876401.1.rev.1.bt2
./de_Bekker_2015/genome/NW_011876401.1.rev.2.bt2
./Veilleux_2015/genome/A_polyacanthus_transABySS_contig.fa
